.product-card {
    width: 25%;
    margin-top: 2%;
    cursor: pointer;
}

.product-card:hover {
    opacity: 0.75;
}

.product-card:active {
    transform: translateY(3px);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}